<section class="aboutContainer">
  <h3 class="subtitle" id="about">About</h3>
  <p class="aboutText">
    I have been working in the IT sector for more than 10 years, as a computer
    systems and network administrator.
  </p>
  <p class="aboutText">
    Working as a freelancer for individuals, small and medium-sized companies.
  </p>
  <p class="aboutText">
    Until I resumed my studies in what has always been my passion. Programming.
    With great enthusiasm and happiness.
  </p>

  {
    /*<p class="aboutText">
    Llevo más de 10 años en el sector de la informática, como administrado de
    sistemas informáticos y redes.
  </p>
  <p class="aboutText">
    Trabajando como autónomo para particulares, pequeñas y medianas empresas.
  </p>
  <p class="aboutText">
    Hasta que retomé mis estudios de lo que siempre fue mi pasión. La
    programación. Con gran entusiasmo y felicidad, afronto este gran reto.
  </p> */
  }
</section>

<style>
  .aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    padding: 25px;
    margin-top: 110px;
  }

  .aboutText {
    width: 100%;
    font-size: 20px;
    line-height: 25px;
    text-align: left;
    margin-bottom: 20px;
  }
</style>
