---
import "./About.css";
---

<section class="aboutContainer">
  <h3 class="subtitle" id="about">About</h3>
  <p class="aboutText">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam iste in
    perspiciatis rerum fugit fugiat aspernatur, dicta eius maxime, nihil,
    accusantium quidem harum incidunt quibusdam ad fuga eligendi commodi
    possimus?
  </p>
</section>
