---
import Html from "@components/svg/html.astro";
import Css from "@components/svg/css.astro";
import Tailwind from "@components/svg/tailwind.astro";
import Javascript from "@components/svg/javascript.astro";
import Typescript from "@components/svg/typescript.astro";
import React from "@components/svg/react.astro";
import Next from "@components/svg/next.astro";
import AstroSvg from "@components/svg/astro.astro";
import Git from "@components/svg/git.astro";
import CloudFlare from "@components/svg/cloudflare.astro";
import Materialui from "@components/svg/materialui.astro";
import Jest from "@components/svg/jest.astro";
import Cypress from "@components/svg/cypress.astro";
import Docker from "@components/svg/docker.astro";
import Styledcomponents from "@components/svg/styledcomponents.astro";
import Bootstrap from "@components/svg/bootstrap.astro";
import Github from "@components/svg/github.astro";
---

<section class="sectionContainer">
  <h3 class="subtitle" id="skills">Skills</h3>
  <div class="iconContainer">
    <div class="skillIconContainer">
      <Html />
      <span>HTML</span>
    </div>
    <div class="skillIconContainer">
      <Css />
      <span>CSS</span>
    </div>
    <div class="skillIconContainer">
      <Javascript />
      <span>JavaScript</span>
    </div>
    <div class="skillIconContainer">
      <Typescript />
      <span>TypeScript</span>
    </div>
    <div class="skillIconContainer">
      <Styledcomponents />
      <span>Styled</span>
    </div>
    <div class="skillIconContainer">
      <Bootstrap />
      <span>Bootstrap</span>
    </div>
    <div class="skillIconContainer">
      <Tailwind />
      <span>Tailwind</span>
    </div>
    <div class="skillIconContainer">
      <Materialui />
      <span>MaterialUI</span>
    </div>
    <div class="skillIconContainer">
      <React />
      <span>ReactJS</span>
    </div>
    <div class="skillIconContainer">
      <Next />
      <span>NextJS</span>
    </div>
    <div class="skillIconContainer">
      <AstroSvg />
      <span>Astro</span>
    </div>
    <div class="skillIconContainer">
      <Git />
      <span>Git</span>
    </div>
    <div class="skillIconContainer">
      <Github width="100%" height="100%" />
      <span>GitHub</span>
    </div>
    <div class="skillIconContainer">
      <CloudFlare />
      <span>Cloudflare</span>
    </div>
    <div class="skillIconContainer">
      <Docker />
      <span>Docker</span>
    </div>
    <div class="skillIconContainer">
      <Jest />
      <span>Jest</span>
    </div>
    <div class="skillIconContainer">
      <Cypress />
      <span>Cypress</span>
    </div>
  </div>
</section>

<style>
  .sectionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
  }
  .iconContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 820px;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .skillIconContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    text-align: center;
  }
  .fixSvgTailwind {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
  }
  span {
    margin-top: 5px;
  }
</style>
