---
import Github from "../../svg/github.astro";
import Linkedin from "../../svg/linkedin.astro";
import Mail from "../../svg/mail.astro";
---

<footer class="footer">
  <span class="footerSpan">You are free to use the code</span>
  <!-- <span class="footerSpan">Podéis utilizar el código, con total libertad</span> -->
  <div class="FooterContainer">
    <a
      class="svgLink"
      href="https://github.com/Franlop7"
      target="_blank"
      aria-label="Link a Github"
      rel="noreferrer noopener"
      ><Github width="30" height="30" />
    </a>
    <a
      class="svgLink"
      href="https://linkedin.com/in/francisco-lópez-torres"
      target="_blank"
      aria-label="Link a Linkedin"
      rel="noreferrer noopener"
      ><Linkedin width="30" height="30" />
    </a>
    <a
      class="svgMail"
      href="mailto:franciscolopto@gmail.com"
      target="_blank"
      aria-label="Link a Mail"
      rel="noreferrer noopener"
      ><Mail width="30" height="30" />
    </a>
  </div>
</footer>

<style>
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--color-bg-footer);
    font-size: 16px;
    margin-top: 100px;
    min-height: 200px;
}

.footerSpan {
    color: var(--color-text-base);
    padding: 4px 30px;
}

.FooterContainer {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 20px;
}

.svgLink {
    fill: var(--color-primary);
    transition: 0.3s;
}

.svgLink:hover {
    fill: var(--color-svg);
}

.svgMail {
    stroke: var(--color-primary);
    transition: 0.3s;
}

.svgMail:hover {
    stroke: var(--color-svg);
}
</style>