---
import Github from "../../svg/github.astro";
import Linkedin from "../../svg/linkedin.astro";
import Mail from "../../svg/mail.astro";
import "./Footer.css";
---

<footer class="footer">
  <span class="footerSpan">Podéis utilizar el código, con total libertad</span>
  <div class="FooterContainer">
    <a
      class="svgLink"
      href="https://github.com/Franlop7"
      target="_blank"
      aria-label="Link a Github"
      rel="noreferrer noopener"
      ><Github width="30" height="30" />
    </a>
    <a
      class="svgLink"
      href="https://linkedin.com/in/francisco-lópez-torres"
      target="_blank"
      aria-label="Link a Linkedin"
      rel="noreferrer noopener"
      ><Linkedin width="30" height="30" />
    </a>
    <a
      class="svgMail"
      href="mailto:franciscolopto@gmail.com"
      target="_blank"
      aria-label="Link a Mail"
      rel="noreferrer noopener"
      ><Mail width="30" height="30" />
    </a>
  </div>
</footer>
