---
import Github from "@components/svg/github.astro";
import Linkedin from "@components/svg/linkedin.astro";
import Mail from "@components/svg/mail.astro";
import Cv from "@components/svg/cv.astro";
---

<main class="mainContainer">
  {
    /* <img
    class="avatar"
    src="/img/avatar.webp"
    alt="Fotografía del desarrollador, Fran López"
  /> */
  }
  <h1 class="titleName">
    <strong class="textgreetings">Hi.</strong> I'm Fran López
  </h1>
  <h2 class="textDev">
    Front-End Developer, passionate about technology and programming.
  </h2>
  <div class="socialContainer">
    <a
      class="svgLink"
      href="https://github.com/Franlop7"
      target="_blank"
      aria-label="Link a Github"
      rel="noreferrer noopener"
      ><Github width="30" height="30" />
    </a>
    <a
      class="svgLink"
      href="https://linkedin.com/in/francisco-lópez-torres"
      target="_blank"
      aria-label="Link a Linkedin"
      rel="noreferrer noopener"
      ><Linkedin width="30" height="30" />
    </a>
    <a
      class="svgMail"
      href="mailto:franciscolopto@gmail.com"
      target="_blank"
      aria-label="Link a Mail"
      rel="noreferrer noopener"
      ><Mail width="30" height="30" />
    </a>
  </div>
  <a
    class="buttonDownload"
    href="/cv/FranLopez-CV.pdf"
    download="FranLopez-CV"
    role="button"
    rel="noreferrer noopener"><Cv width="25" height="25" />Download CV</a
  >
</main>

<style>
  .mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    max-width: 880px;
  }
  .avatar {
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  .titleName {
    font-size: 3.75rem;
    font-weight: 600;
    font-style: normal;
    text-align: center;
  }
  .textgreetings {
    color: var(--color-primary);
    font-size: 6.75rem;
  }
  .textDev {
    font-size: 1.25rem;
    text-align: center;
    font-weight: 400;
    padding: 0 20px;
  }
  .socialContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 20px;
  }
  .svgLink {
    fill: var(--color-primary);
    transition: 0.3s;
  }
  .svgLink:hover {
    fill: var(--color-svg);
  }
  .svgMail {
    stroke: var(--color-primary);
    transition: 0.3s;
  }
  .svgMail:hover {
    stroke: var(--color-svg);
  }
  .buttonDownload {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--color-btn-bg);
    color: var(--color-btn-text);
    padding: 10px 12px 10px 12px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 30px;
    font-weight: 600;
    transition: all 0.3s linear;
    stroke: #fff;
    border: 2px solid var(--color-btn-bg);
  }
  .buttonDownload:hover {
    background-color: var(--color-btn-hover);
    color: var(--color-primary);
    transition: all 0.3s linear;
    border: 2px solid var(--color-btn-border-hover);
    stroke: var(--color-primary);
  }
  @media (max-width: 500px) {
    .avatar {
      width: 160px;
      height: 160px;
      margin-bottom: 20px;
    }
    .titleName {
      font-size: 2.6rem;
      margin-bottom: 10px;
    }
    .textDev {
      font-size: 1rem;
      width: 340px;
    }
    .textgreetings {
      font-size: 5.3rem;
    }
  }
</style>
